#transimg {
  background: none;
  border: none;
  box-shadow: none;
  color: red;
}
.slides ~ .intro{
  background-image: none;
}

.reveal h1, .reveal h2,
.reveal h3, .reveal h4,
.reveal h5, .reveal h6,
.reveal p{
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-transform: none;
}

.reveal h1{
  font-size: 2.75em;
}
.reveal h2{
  font-size: 1.5em;
}
.reveal h3{
  font-size: 1.25em;
}

.reveal p {
  font-size: 1.25em;
}

.mylogo  {
  background-image: url(../images/ecetera-logo-grey.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.jitter-base * {
  animation-name: jitter;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.jitter-forward {
  animation-direction: forward;
  animation-play-state: running;
}
.jitter-reverse {
  animation-direction: reverse;
  animation-play-state: running;
  animation-duration: 0.2s;
}
@keyframes jitter {
  0% {
    transform: skew(0deg) translate(0px, 0px);
  }
  17% {
    transform: skew(0.5deg) translate(-1px, 0px);
  }
  32% {
    transform: skew(0.5deg) translate(0px, 0px);
  }
  48% {
    transform: skew(0deg) translate(0px, 0px);
  }
  63% {
    transform: skew(-0.5deg) translate(1px, 0px);
  }
  79% {
    transform: skew(-0.5deg) translate(0px, 0px);
  }
  100% {
    transform: skew(0deg) translate(0px, 0px);
  }
}

.reveal .terraform-logo {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
}

.reveal .terraform-logo img {
  margin-bottom: 0px;
}

